In [51]:
from tokenizer import SpaceTokenizer, HfTokenizerWrapper, upper_first
from tokenizers import Tokenizer
import json
import pandas as pd

In [52]:
tokenizer_path = './tokenizers/tokenizer-ref-20k.json'

with open(tokenizer_path, 'r', encoding='utf-8') as f: tokenizer_config = json.load(f)["model"]["vocab"]

tokenizer_lin = SpaceTokenizer(tokenizer_config)
tokenizer_bpe = HfTokenizerWrapper(Tokenizer.from_file(tokenizer_path))

def capitalize_words(words):
    return [*words, *[upper_first(word) for word in words]]

words = []
words.extend(capitalize_words(['machine', 'machines', 'machined', 'machining', 'machinion',  'machinery', 'machineries']))
words.extend(capitalize_words(['token', 'tokens', 'tokenized', 'tokenizing', 'tokenization', 'tokenizations', 'tokenset', 'tokensets', 'tokenism', 'tokenless', "tokenes", "detokenize"]))
words.extend(capitalize_words(['query', 'querying', 'queries', 'queryable', 'queried']))

print(words)

data = {'words': words, 'bpe': [], 'lin': []}

for word in words:
    ids, tokens_lin = tokenizer_lin.encode(word, return_token_tuple=True)
    ids, tokens_bpe = tokenizer_bpe.encode(word, return_token_tuple=True)
    data['lin'].append(", ".join(tokens_lin))
    data['bpe'].append(", ".join(tokens_bpe))

df = pd.DataFrame(data)
df = df.style.set_properties(**{'text-align': 'left'})
df

['machine', 'machines', 'machined', 'machining', 'machinion', 'machinery', 'machineries', 'Machine', 'Machines', 'Machined', 'Machining', 'Machinion', 'Machinery', 'Machineries', 'token', 'tokens', 'tokenized', 'tokenizing', 'tokenization', 'tokenizations', 'tokenset', 'tokensets', 'tokenism', 'tokenless', 'tokenes', 'detokenize', 'Token', 'Tokens', 'Tokenized', 'Tokenizing', 'Tokenization', 'Tokenizations', 'Tokenset', 'Tokensets', 'Tokenism', 'Tokenless', 'Tokenes', 'Detokenize', 'query', 'querying', 'queries', 'queryable', 'queried', 'Query', 'Querying', 'Queries', 'Queryable', 'Queried']